<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/MakeUcCss.css">
    <title>Spacex Information</title>
</head>
<body>
<div class="main">
    <h1>SpaceX Information</h1>
    <p>Select an option from the drop down menu below to learn more about various SpaceX missions, launches, and more</p>
    <form action="/Spacex/search">
        <select id="type" name="type">
            <option value="capsules">Capsules</option>
            <option value="cores">Cores</option>
            <option value="dragons">Dragons</option>
            <option value="launches">Launches</option>
            <option value="missions">Missions</option>
            <option value="rockets">Rockets</option>
        </select>
        <button>Search</button>
    </form>
</div>
<script></script>
</body>
</html>