<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MakeUC\MakeUC\src\main\resources\templates\MakeUcCss.css">
    <title>Title</title>
</head>
<body>

    <div th:each="core: ${cores}">
        <h1 th:text="'Serial ' + ${core.serial} + ' Block ' + ${core.block}"></h1>
        <p th:text="'Status ' + ${core.status}"></p>
        <p th:text="'Original Launch ' + ${core.o_launch}"></p>
        <p th:text="'Number of times reused ' + ${core.reuse}"></p>
        <p th:text="'Return to launch site attempts: ' + ${core.rtls_att}"></p>
        <p th:text="'Return to launch site landings: ' + ${core.rtls_landing}"></p>
        <p th:text="'Autonomous Spaceport Drone Ship landing attempts: ' + ${core.asds_att}"></p>
        <p th:text="'Autonomous Spaceport Drone Ship landings: ' + ${core.asds_landing}"></p>
        <p th:text="'Water Landing ' + ${core.water_landing}"></p>
        <p th:text="'Other Details: ' + ${core.dets}"></p>
    </div>

</body>
</html>