<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="leggystyles.css" id="theme-link">
    <title>Spacex Information</title>
</head>
<body>
    <ul class="topnavbar">
        <li class = "topnavbarblock" style="font-size:28px;">SpaceX Information</li>
        <li class="topnavbar"><a class ="active" href="../SpaceXHome.html">Homepage</a></li>
        <li class="topnavbar"><a href="#Capsules.html">Capsules</a></li>
        <li class="topnavbar"><a href="#Cores.html">Cores</a></li>
        <li class="topnavbar"><a href="#Dragons.html">Dragons</a></li>
        <li class="topnavbar"><a href="#Launches.html">Launches</a></li>
        <li class="topnavbar"><a href="Missions.html">Missions</a></li>
        <li class="topnavbar"><a href="Zodiacs.html">Zodiacs</a></li>
        <li class="topnavbar"><a href="More_Stars.html">More Stars</a></li>
        <li class="topnavbar"><a href="Planets.html">Planets</a></li>
        <li><button>Search</button></li>
    </ul>
    <button class="btn-toggle">Toggle Theme</button>
    <script>
      const btn = document.querySelector(".btn-toggle");
      const theme = document.querySelector("#theme-link");
      btn.addEventListener("click", function() {
        // Swap out the URL for the different stylesheets
        if (theme.getAttribute("href") === "Light_Mode.css") {
          theme.href = "Dark_mode.css";
        } else {
          theme.href = "Light_Mode.css";
        }
      });
    </script>
</body>
</html>

