<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="" rel="stylesheet">
    <title>Spacex Information</title>
</head>
<body>
    <h1>Spacex Information</h1>
    <form action="/Spacex/search">
        <select id="type" name="type">
            <option value="capsules">Capsules</option>
            <option value="cores">Cores</option>
            <option value="dragons">Dragons</option>
            <option value="launches">Launches</option>
            <option value="missions">Missions</option>
            <option value="rockets">Rockets</option>
        </select>
        <button>Search</button>
    </form>
    <script></script>
</body>
</html>